@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blanco: #f9f9f9;
  --negro: #36383f;
  --gris: #172c4f;
  --verde: #36b37e;
  --amarillo: #fffb00;
} /* variables in spanish (for fun) */

body {
  background-color: var(--blanco);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* ----- Elements ----- */

.flex-nav-list {
  display: none;
}

.menu {
  display: block;
  position: absolute;
  right: 5%;
  top: 15px;
}

.index-page {
  width: 375px;
  height: 100vh;
  background-image:
    url("../img/header-illsutration-mobile.png"),
    url("../img/Action.png");
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position:
    70% -250%,
    50% 90%;
}

.primary-logo {
  display: none;
}

.external_link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #595959;
  text-align: center;
  resize: none;
}

.flex-navbar {
  background-color: var(--blanco);
  color: var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.flex-nav-list .list-item {
  display: inline-block;
  padding: 0 10px;
  margin-top: 5px;
}

.flex-navbar a {
  color: var(--negro);
  text-decoration: none;
}

.flex-navbar a:hover {
  color: var(--verde);
}

.menu-line {
  width: 20px;
  height: 2px;
  background-color: var(--negro);
  border-radius: 2px;
  margin-bottom: 15%;
  margin-right: 5px;
}

.menu-line-recent-works {
  width: 48px;
  height: 4px;
  background-color: #36b37e;
  border-radius: 2px;
  margin-left: 43%;
  margin-bottom: 40px;
}

#headline-section {
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 150px;
  background-image: none;
}

.headline-title {
  font-weight: bold;
  font-size: 33px;
  color: var(--gris);
  text-align: center;
  margin: 0 24px;
}

.headline-sub-title {
  font-weight: bold;
  font-size: 22px;
  color: #595959;
  text-align: center;
  margin: 0 24px;
}

#headline-section p {
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  color: var(--gris);
  margin: 12px 24px 0 24px;
  text-align: center;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-top: 5%;
}

.icon-2 {
  list-style-type: none;
  margin: 15% 10% 10% 0%;
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--gris);
  line-height: 25px;
}

#h3-lang {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--gris);
  line-height: 25px;
}

#my-recent-works {
  width: 375px;
  display: grid;
  flex-direction: row;
  margin-top: -28px;
  text-align: center;
  align-content: center;
}

#about-me {
  margin-top: 40px;
  text-align: center;
  align-content: center;
}

.parraf {
  margin-right: 25px;
}

#about-me p {
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  color: var(--gris);
  margin: 12px 24px 0 24px;
  text-align: center;
}

.about-me-tittle {
  font-weight: bold;
  font-size: 42px;
  color: var(--gris);
  text-align: center;
  margin-bottom: 20px;
}

.about-me-bg {
  width: 375px;
  padding-top: 20px;
  background-image:
    url(../img/illustration-\ about\ me-\ mobile-1.png),
    url(../img/illustration-\ about\ me-\ mobile-2.png);
  background-repeat: no-repeat;
  background-size: 10vh;
  background-position:
    -1% 100%,
    100% -15%;
}

.icon_language {
  margin: 40px 0 20px 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 50px;
}

.am-languages-main-grid {
  background-color: #ebf0ee;
  width: 314px;
  height: 325px;
}

#about-me-section-1 {
  margin-bottom: 30px;
  width: 314px;
  height: 325px;
}

#about-me-section-2 {
  margin-top: 30px;
  width: 314px;
  height: 325px;
}

#about-me-section-3 {
  margin-bottom: 30px;
  width: 314px;
  height: 325px;
  margin-top: 30px;
}

#about-me-section-4 {
  border: none;
  width: 314px;
}

.am-languages-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  background-color: #ebf0ee;
  padding: 2px;
  list-style-type: none;
}

.am-lang-list {
  background-color: #fff;
  text-align: center;
  border-radius: 7px;
  font-size: 12px;
  color: #595959;
  margin-bottom: 10px;
  padding: 10px;
}

.am1 {
  grid-row: 1;
  order: 4;
}

.am2 {
  grid-row: 1;
  order: 2;
}

.am3 {
  grid-row: 1;
  order: 1;
}

.am4 {
  grid-row: 1;
  order: 3;
}

.first-project {
  background-color: #fff;
}

.languages-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  padding: 2px;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}

.lang-list {
  background-color: #ebf0ee;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 12px;
  color: #000;
  padding: 10px 15px 10px 15px;
  list-style: none;
}

.languages li {
  list-style-type: none;
}

.l1 {
  grid-row: 1;
  order: 4;
}

.l2 {
  grid-row: 1;
  order: 3;
}

.l3 {
  grid-row: 1;
  order: 1;
}

.l4 {
  grid-row: 1;
  order: 2;
}

.am-frameworks-main-grid {
  background-color: #ebf0ee;
  width: 314px;
  height: 325px;
}

.am-frameworks-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  background-color: #ebf0ee;
  padding: 2px;
  list-style-type: none;
}

.am-frame-list {
  background-color: #fff;
  padding: 2px;
  border-radius: 7px;
  font-size: 12px;
  color: #595959;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  flex-basis: 70px;
}

.f1 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 10%;
}

.f2 {
  grid-column: 2;
  grid-row: 1;
}

.f3 {
  grid-column: 3;
  grid-row: 1;
  margin-right: 10%;
}

.f4 {
  grid-column: 4;
  grid-row: 2;
  margin-left: 20%;
}

.f5 {
  grid-column: 5;
  grid-row: 2;
  margin-right: 20%;
}

.am-skills-main-grid {
  background-color: #ebf0ee;
  width: 314px;
  height: 325px;
}

.am-skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background-color: #ebf0ee;
  padding: 2px;
  list-style-type: none;
}

.am-skills-list {
  background-color: #fff;
  padding: 2px;
  border-radius: 7px;
  font-size: 12px;
  color: #595959;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  flex-basis: 80px;
}

.sk1 { /* Data */
  flex-grow: 4;
  margin-left: 5%;
}

.sk2 { /* vers */
  flex-grow: 1;
}

.sk3 { /* web */
  flex-grow: 1;
  margin-right: 5%;
}

.sk4 { /* ux */
  flex-grow: 0;
}

.sk5 { /* sql */
  flex-grow: 0;
}

.project-1 {
  order: 1;
  margin: 20px 24px 0 24px;
  border-radius: 8px;
  border: 0.5px solid #d0d9d4;
  text-align: center;
  width: 314px;
}

.project-2 {
  order: 2;
  margin: 20px 24px 0 24px;
  border-radius: 8px;
  border: 0.5px solid #d0d9d4;
  text-align: center;
  width: 314px;
}

.contact-socials {
  width: 314px;
  height: 165px; /* 325 */
  margin: 0% 0% 0% 9%;
  text-align: center;
}

.contact-me-mail {
  margin-bottom: 25px;
  font-size: 20px;
  padding-top: 5%;
}

.first_project_img_div {
  background-color: #d0d9d4;
}

.first_project_image {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contact-title {
  font-weight: bold;
  font-size: 36px;
  color: var(--gris);
  text-align: center;
  margin: 20% 3% 20% 3%;
}

.contact input {
  font-style: italic;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 12px;
  border: 0.5px solid #d0d9d4;
}

.contact textarea {
  font-size: 15px;
  line-height: 24px;
  color: #42526e;
  padding: 15px;
  border-radius: 12px;
  border: 0.5px solid #60c095;
  resize: vertical;
}

#contact-button {
  padding: 12px;
  background-color: #36b37f;
  border-radius: 6px;
  color: #595959;
  border: 2px white solid;
  font-size: 17px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

#contact-button:hover {
  background: #36b37f;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#contact-button:active {
  background-color: #008552;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.bg_final {
  width: 375px;
  height: 165px;
  background-image: url(../img/contact_me_final_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/* External Link */
.external_link {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #36b37f;
  border-radius: 4px;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ex-li-3 {
  width: 153px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.external_link:hover {
  background: #008552;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.external_link:active {
  background: #36b37f;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.external_link:visited {
  background: #8922d2;
  border-radius: 8px;
}

footer h3:hover {
  text-decoration: none;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--verde);
}

#headline-section footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-form2 {
  display: none;
}

/* ---  MEDIA QUERIES --- */

@media screen and (max-width: 768px) {
  .headline-title2 {
    display: none;
  }

  .flex-nav-list {
    font-size: 19px;
    display: flex;
    position: fixed;
    left: -150%;
    top: -20px;
    padding-top: 10px;
    gap: 0;
    background-color: #60c095;
    width: 100%;
    text-align: center;
    transition: 1s;
    font-weight: 700;
  }

  .list-item {
    margin: 16px 0;
  }

  .flex-navbar a:hover {
    color: var(--verde);
  }

  .nav-link{
    transition: 0.3s ease-out;
  }

  .flex-nav-list.active {
    left: 0;
  }

  .menu{
    display: block;
    position: fixed;
  }

  .menu.active .menu-line:nth-child(2){
    opacity: 0;
  }

  .menu.active .menu-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .menu.active .menu-line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* --- DESKTOP SIZE --- */
@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .menu-line {
    display: none;
  }

  .flex-nav-list {
    position: absolute;
    width: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
  }

  .list-item {
    list-style-type: none;
    padding: 10px 12px;
    gap: 10px;
    font-weight: 600;
    color: #344563;
    font-size: 12px;
  }

  .menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .index-page {
    width: 100%;
    background-image:
      url("../img/Action.png"),
      url("../img/piramid.png"),
      url("../img/revertsquare.png"),
      url("../img/elipsir.png"),
      url("../img/elipsir-transparent.png"),
      url("../img/square.png"),
      url("../img/square2-transparent.png"),
      url("../img/rock.png"),
      url("../img/lines_group.png");
    background-repeat: no-repeat;
    background-size:
      25%,
      20%,
      20%,
      22%,
      10%,
      15%,
      7%,
      20%,
      100%;
    background-position:
      50% 50%,
      0% 40%,
      104% 35%,
      75% 85%,
      40% 75%,
      15% 85%,
      30% 10%,
      80% 0%,
      50% 50%;
  }

  .headline-title {
    display: none;
  }

  .headline-title2 {
    display: block;
    font-weight: bold;
    font-size: 33px;
    color: var(--gris);
    text-align: center;
    margin: 0 24px;
  }

  #headline-section p {
    font-size: 20px;
    margin: 2% 10% 0% 10%;
    line-height: 32px;
  }

  #social-icons {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }

  #my-recent-works {
    width: 100%;
    align-content: center;
  }

  .project-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .menu-line-recent-works {
    display: none;
  }

  #about-me {
    width: 100%;
  }

  .about-me-bg {
    width: 100%;
    background-image:
      url(../img/illustration-\ about\ me-\ desktop-1.png),
      url(../img/illustration-\ about\ me-\ desktop-2.png);
    background-repeat: no-repeat;
    background-size: 12%, 10%;
    background-position:
      0% 60%,
      100% -20%;
  }

  .about-me-tittle {
    font-size: 20px;
  }

  .parraf {
    margin-right: 20%;
    margin-left: 20%;
  }

  #ex-li-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .lang-frame-skill {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .bg_final {
    width: 100%;
    height: 30vh;
    background-image:
      url(../img/bg_final_desktop1.png),
      url(../img/bg_final_desktop2.png),
      url(../img/bg_final_desktop3.png);
    background-repeat: no-repeat;
    background-size: 10%, 10%, 7%;
    background-position: 0% 100%, 25% 80%, 100% 50%;
  }

  .contact-socials {
    width: 100%;
    height: auto;
  }

  .contact-me-mail {
    display: none;
  }

  .icon-2 {
    width: 100%;
    margin: 0% 0% 0% 33%;
    border-top: 1px solid #dfe1e6;
  }

  #footer-social {
    width: 15%;
    margin-top: 5%;
    margin-left: 10%;
  }

  #about-me-section-4 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .am-contact-me-main-grid {
    margin-left: -100%;
  }

  #about-me-section-4 h2 {
    font-size: 17px;
    margin-bottom: 15%;
  }

  #about-me-section-4 button {
    margin-left: 0%;
  }

  .contact input {
    border-radius: 4px;
  }

  .contact textarea {
    border-radius: 4px;
  }

  .inputs-form {
    display: none;
  }

  .first-last-name {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
  }

  .input-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .inputs-form2 {
    display: grid;
    padding: 0;
    width: 140%;
    margin-left: -10%;
  }

  .contact-title {
    line-height: 52px;
    font-size: 30px;
    margin: 0 auto;
    width: 15vw;
  }
}
