:root {
  --blanco: #f9f9f9;
  --negro: #36383f;
  --gris: #172c4f;
  --verde: #36b37e;
} /* variables in spanish (for fun) */

body {
  background-color: var(--blanco);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

/* ----- Elements ----- */

.flex-nav-list {
  display: none;
}

.menu {
  display: block;
  position: absolute;
  right: 5%;
  top: 15px;
}

.index-page {
  height: 100vh;
  background-image:
    url("../img/header-illsutration-mobile.png"),
    url("../img/Action.png");
  background-repeat: no-repeat;
  background-size: 60vh;
  background-position:
    70% -250%,
    50% 90%;
}

.primary-logo {
  display: none;
}

.external_link a {
  text-decoration: none;
  font-weight: 50;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.flex-navbar {
  background-color: var(--blanco);
  color: var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.flex-nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}

.flex-navbar a {
  color: var(--negro);
  text-decoration: none;
}

.flex-navbar a:hover {
  color: var(--verde);
}

.menu-line {
  width: 20px;
  height: 2px;
  background-color: var(--negro);
  border-radius: 2px;
  margin-bottom: 15%;
  margin-right: 5px;
}

.menu-line-recent-works {
  width: 48px;
  height: 4px;
  background-color: #36b37e;
  border-radius: 2px;
  margin-left: 43%;
  margin-bottom: 40px;
}

#headline-section {
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 150px;
  background-image: none;
}

.headline-title {
  font-weight: bold;
  font-size: 33px;
  color: var(--gris);
  text-align: center;
  margin: 0 24px;
}

.headline-sub-title {
  font-weight: bold;
  font-size: 22px;
  color: var(--verde);
  text-align: center;
  margin: 0 24px;
}

#headline-section p {
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  color: var(--gris);
  margin: 12px 24px 0 24px;
  text-align: center;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-top: 5%;
}

.icon-2 {
  list-style-type: none;
  margin: 10% 0% 0% 0%;
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--gris);
  line-height: 25px;
}

#h3-lang {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  color: var(--gris);
  line-height: 25px;
}

#my-recent-works {
  display: grid;
  flex-direction: row;
  margin-top: -28px;
  text-align: center;
  align-content: center;
}

#about-me {
  margin-top: 40px;
  text-align: center;
  align-content: center;
}

.parraf {
  margin-right: 25px;
}

#about-me p {
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  color: var(--gris);
  margin: 12px 24px 0 24px;
  text-align: center;
}

.about-me-tittle {
  font-weight: bold;
  font-size: 42px;
  color: var(--gris);
  text-align: center;
  margin-bottom: 20px;
}

.about-me-bg {
  padding-top: 20px;
  background-image:
    url(../img/illustration-\ about\ me-\ mobile-1.png),
    url(../img/illustration-\ about\ me-\ mobile-2.png);
  background-repeat: no-repeat;
  background-size: 10vh;
  background-position:
    -1% 100%,
    100% -15%;
}

.icon_language {
  margin: 40px 0 20px 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 50px;
}

.am-languages-main-grid {
  background-color: #ebf0ee;
  width: 314px;
  height: 325px;
}

#about-me-section-1 {
  margin-bottom: 30px;
  width: 314px;
  height: 325px;
}

#about-me-section-2 {
  margin-top: 30px;
  width: 314px;
  height: 325px;
}

#about-me-section-3 {
  margin-bottom: 30px;
  border: none;
  width: 314px;
  height: 325px;
}

.am-languages-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-color: #ebf0ee;
  padding: 2px;
  list-style-type: none;
}

.am-lang-list {
  background-color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 7px;
  font-size: 12px;
  color: #36b37e;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.am1 {
  grid-row: 1;
  order: 4;
}

.am2 {
  grid-row: 1;
  order: 2;
}

.am3 {
  grid-row: 1;
  order: 1;
}

.am4 {
  grid-row: 1;
  order: 3;
}

.languages-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  padding: 2px;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}

.lang-list {
  background-color: #ebf0ee;
  text-align: center;
  padding: 2px;
  border-radius: 3px;
  font-size: 12px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.languages li {
  list-style-type: none;
}

.l1 {
  grid-row: 1;
  order: 4;
}

.l2 {
  grid-row: 1;
  order: 3;
}

.l3 {
  grid-row: 1;
  order: 1;
}

.l4 {
  grid-row: 1;
  order: 2;
}

.am-frameworks-main-grid {
  background-color: #ebf0ee;
  width: 314px;
  height: 325px;
  margin-bottom: 30px;
}

.am-frameworks-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  background-color: #ebf0ee;
  padding: 2px;
  list-style-type: none;
}

.am-frame-list {
  background-color: #fff;
  padding: 2px;
  border-radius: 7px;
  font-size: 12px;
  color: #36b37e;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  flex-basis: 70px;
}

.f1 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 10%;
}

.f2 {
  grid-column: 2;
  grid-row: 1;
}

.f3 {
  grid-column: 3;
  grid-row: 1;
  margin-right: 10%;
}

.f4 {
  grid-column: 4;
  grid-row: 2;
  margin-left: 20%;
}

.f5 {
  grid-column: 5;
  grid-row: 2;
  margin-right: 20%;
}

.am-skills-main-grid {
  background-color: #ebf0ee;
  width: 314px;
  height: 325px;
}

.am-skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5px;
  background-color: #ebf0ee;
  padding: 2px;
  list-style-type: none;
}

.am-skills-list {
  background-color: #fff;
  padding: 2px;
  border-radius: 7px;
  font-size: 12px;
  color: #36b37e;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  flex-basis: 80px;
}

.sk1 { /* Data */
  flex-grow: 4;
  margin-left: 5%;
}

.sk2 { /* vers */
  flex-grow: 1;
}

.sk3 { /* web */
  flex-grow: 1;
  margin-right: 5%;
}

.sk4 { /* ux */
  flex-grow: 0;
}

.sk5 { /* sql */
  flex-grow: 0;
}

.project-1 {
  order: 1;
  margin: 12px 24px 0 24px;
  border-radius: 8px;
  border: 0.5px solid #d0d9d4;
  text-align: center;
  width: 314px;
}

.project-2 {
  order: 2;
  margin: 20px 24px 0 24px;
  border-radius: 8px;
  border: 0.5px solid #d0d9d4;
  text-align: center;
  width: 314px;
}

.contact-socials {
  width: 314px;
  height: 325px;
  margin: 20% 0% 0% 10%;
  text-align: center;
  background-image: url(../img/contact_me_final_bg.png);
  background-repeat: no-repeat;
  background-position: 100% -100%;
}

.contact-me-mail {
  margin-top: 25px;
  margin-bottom: 25px;
}

.first_project_img_div {
  background-color: #d0d9d4;
}

.first_project_image {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contact-title {
  font-weight: bold;
  font-size: 36px;
  color: var(--gris);
  text-align: center;
  margin: 20% 3% 20% 3%;
}

.contact input {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 12px;
  border: 0.5px solid #d0d9d4;
}

.contact textarea {
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px;
  border-radius: 12px;
  border: none;
  border: 0.5px solid #60c095;
}

.contact-socials button {
  width: 153px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  margin-top: 75%;
  color: white;
  border: 2px white solid;
  font-size: 18px;
}

.bottom-bar {
  margin-top: 0;
  margin-bottom: -7%;
  background-color: #0d151e;
  height: 3px;
  width: 150px;
  border: 1px solid #0d151e;
  border-radius: 25px;
}

/* External Link */
.external_link {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #36b37f;
  border-radius: 4px;
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ex-li-3 {
  width: 153px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #36b37f;
  border-radius: 4px;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.external_link:hover {
  background: #033700;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.external_link:visited {
  background: #8922d2;
  border-radius: 8px;
}

footer h3:hover {
  text-decoration: none;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--verde);
}

#headline-section footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
